h1{
	font-size:  50px;
}

h2 {
	background-color: #a3acff;
	font-size: 20px;
	padding-left: 300px;
	padding-right: 300px;
}

h3 {
	color: #f82caa;
	font-size: 25px;
	line-height: 2px;
}

body {
	background-color: #E0E7FF;
}
p {
	background-color: #7c8aff;
	font-family: arial;
	font-weight: bolder;

	body {
		background-color: #a3acff;
	}
}

img{
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
 ul {
 	font-size: 25px;
 	line-height: 5px;
 	font-weight: bolder;

 }

img {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-top: 20 px;
}

body {
text-align: center;
}